{{define "body"}}
  <div class="grid one">
    <div class="title center">WE ARE GETTING MARRIED!</div>
    <div class="title center">can you come???!</div>
  </div>

  <div class="grid two">
    <div class="center">
      <a href="/no" class="button main-button error">AGONY!! - SADLY, I CANNOT</a>
    </div>

    <div class="center">
      <a href="/yes" class="button main-button success">YES! A THOUSAND TIMES YES!</a>
    </div>
  </div>

  <div class="grid one">
    <img src="/static/img/save_the_date.jpg" alt="" />
  </div>
{{end}}
